<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content = "width = device-width, initial-scale = 1.0, minimum-scale = 1, maximum-scale = 1, user-scalable = no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Card Room</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- SocketIO connection to receive notifications of changes by another user to trigger reload of page -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>   
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on("lobby update", function() {
          location.reload();
        })
      </script>
</head>
<body>
    <div class="container bg-white">
        <div class="row justify-content-between mt-4 mb-2">
            <!-- Title -->
            <div class="col-auto">
                <h2>The Card Room</h2>
                <h6>Welcome {{user.user_name}}!</h6>
            </div>
            <!-- Navigation actions -->
            <div class="col-auto">
                <a href="#" class="inactive col-auto btn btn-secondary btn-sm mx-1 mt-1 mb-3">Lobby</a>
                <a href="/leaderboard" class="col-auto btn btn-outline-dark btn-sm mx-1 mt-1 mb-3">Leader Board</a>
                <a href="/user-profile" class="col-auto btn btn-outline-dark btn-sm mx-1 mt-1 mb-3">User Profile</a>
                <a href="/logout-action" class="col-auto btn btn-outline-dark btn-sm mx-1 mt-1 mb-3">Logout</a>
            </div>
        </div>

        <!-- Active games -->
        <div class="row pt-4">
            <!-- <h4 class="col-12 pb-2">Active Games</h4> -->
            {% if games %}
                {% for game in games %}
                <div class="col-5 bg-success border border-secondary rounded-circle text-white text-center mx-0 px-0 mb-4 mt-2 pt-4" style="height: 220px">
                    <!-- <h5>{{game.game_name}}</h5> -->
                    <div class="row mx-0 px-0 text-center">
                        <div class="col-2"></div>
                        <div class="col-8 text-center"><h5>{{game.game_name}}</h5></div>
                        <div class="col-2"></div>
                    </div>
                    <div class="row text-dark">
                        <div class="col-12 mx-0 px-0">Max Raise: {{game.max_raise}}  |  Ante: {{game.ante}}</div>
                    </div>
                    <div class="row text-dark">
                        <div class="col-12 mx-0 px-0">Players: {{game.num_players}} / {{game.min_players}}-{{game.max_players}}</div>
                    </div>
                    <div class="row text-dark">
                        <div class="col-12 mx-0 px-0">Status: {% if game.game_status == 0 %}Waiting
                            {% elif game.game_status == 1 %}Rnd {{game.round_num}} / {{game.num_rounds}}
                            {% else %}Done
                            {% endif %}</div>
                    </div>
                    <div class="row text-dark">
                        <div class="col-12 mx-0 px-0">Pot: {{game.pot}}</div>
                    </div>
                    <div class="row text-center mt-2">
                        <div class="col"></div>
                        <div class="col-4">
                            {% if user.current_game_id == game.id %}
                            <a href="/lobby/leave-game/{{game.id}}" class="button border btn-sm btn-warning">Leave</a>
                            {% elif not user.current_game_id: %}
                            <a href="/lobby/join-game/{{game.id}}" class="button border btn-sm btn-primary">Join</a>
                            {% endif %}
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
                <div class="col-1"></div>
                {% endfor %}
            {% else %}
                <h6>No active games</h6>
            {% endif %}
        </div>


        <!-- New game inputs -->
        {% if not user.current_game_id %}
        <div class="row pt-2 border border-secondary rounded-lg mt-4 pb-2">
            <form action="/lobby/new-game" method="post" class="row align-items-center">
                <div class="col"></div>
                <div class="col-4">
                    <select type="text" name="game_type_id" class="input-sm rounded-0 mx-0" required>
                        {% for game_type in game_types %}
                            <option value="{{game_type.id}}">{{game_type.game_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-1"></div>
                <button type="submit" class="col-4 btn btn-dark btn-sm btn-block rounded-0 ml-5">Start New Game</button>
                <div class="col"></div>
            </form>
        </div>
        {% endif %}

        
    </div> <!-- End container-->
</body>
</html>