<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content = "width = device-width, initial-scale = 1.0, minimum-scale = 1, maximum-scale = 1, user-scalable = no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Card Room</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- SocketIO connection to receive notifications of changes by another user to trigger reload of page -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script></head>    
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on("lobby update", function() {
          location.reload();
        })
      </script>
</head>
<body>
    <div class="container bg-white">
        <div class="row justify-content-between mt-4 mb-2">
            <!-- Title -->
            <div class="col-auto">
                <h2>Lobby</h2>
                <h6>Welcome {{user.user_name}}!</h6>
            </div>
            <!-- Navigation actions -->
            <div class="col-auto">
                <a href="#" class="inactive col-auto btn btn-secondary btn-sm mx-1 mt-1 mb-3">Lobby</a>
                <a href="/leaderboard" class="col-auto btn btn-outline-dark btn-sm mx-1 mt-1 mb-3">Leader Board</a>
                <a href="/user-profile" class="col-auto btn btn-outline-dark btn-sm mx-1 mt-1 mb-3">User Profile</a>
                <a href="/logout-action" class="col-auto btn btn-outline-dark btn-sm mx-1 mt-1 mb-3">Logout</a>
            </div>
        </div>

        <!-- Active games -->
        <div class="row pt-4">
            <h4 class="col-12 pb-2">Active Games</h4>
            {% if games %}
            <table class="table table-fixed text-left table-hover">
                <tr>
                    <th>Game</th>
                    <th>Ante</th>
                    <th>Max Raise</th>
                    <th>Pot</th>
                    <th>Players</th>
                    <th>Status</th>
                    <th>Action</th>
                <tr>
                    {% for game in games %}
                        </tr>
                            <td>{{game.game_type.game_name}}</td>
                            <td>{{game.game_type.ante}}</td>
                            <td>{{game.game_type.max_raise}}</td>
                            <td>{{game.pot}}</td>
                            <td>{{game.num_players}} / {{game.game_type.min_players}} min - {{game.game_type.max_players}} max</td>
                            {% if game.game_status == 0 or game.game_status == 1 %} <!-- game is waiting for players to join or playing -->
                                <td>{% if game.game_status == 0 %}Waiting
                                    {% else %}Playing
                                    {% endif %}
                                </td>
                                {% if user.current_game_id == game.id %}
                                <td><a href="/lobby/leave-game/{{game.id}}" class="button btn-sm btn-primary">Leave</a></td>
                                {% elif not user.current_game_id: %}
                                <td><a href="/lobby/join-game/{{game.id}}" class="button btn-sm btn-primary">Join</a></td>
                                {% else %}
                                <td></td>
                                {% endif %}
                            {% else %}
                                <td>Playing</td>
                                <td></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
            </table>
            {% else %}
            <h6>No active games</h6>
            {% endif %}
        </div>

        <!-- New game inputs -->
        <form action="/lobby/new-game" method="post" class="col-5 pt-3">
            <div class="row">
                <select type="text" name="game_type_id" class="input-lg col-4 rounded-0 px-3 mx-3" required>
                    {% for game_type in game_types %}
                        <option value="{{game_type.id}}">{{game_type.game_name}}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="col-4 btn btn-dark btn-sm btn-block rounded-0 ml-3">Start New Game</button>
            </div>
        </form>

        
    </div> <!-- End container-->
</body>
</html>