<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content = "width = device-width, initial-scale = 1.0, minimum-scale = 1, maximum-scale = 1, user-scalable = no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Card Room</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    <div class="container bg-white">
        <div class="row justify-content-between mt-4 mb-2">
            <!-- Title -->
            <div class="col-auto">
                <h2>User Profile</h2>
                <h6>Welcome {{user.user_name}}!</h6>
            </div>
            <!-- Navigation actions -->
            <div class="col-auto">
                <a href="/lobby" class="col-auto btn btn-outline-dark btn-sm mx-1 mt-1 mb-3">Lobby</a>
                <a href="/leaderboard" class="col-auto btn btn-outline-dark btn-sm mx-1 mt-1 mb-3">Leader Board</a>
                <a href="#" class="inactive col-auto btn btn-secondary btn-sm mx-1 mt-1 mb-3">User Profile</a>
                <a href="/logout-action" class="col-auto btn btn-outline-dark btn-sm mx-1 mt-1 mb-3">Logout</a>
            </div>
        </div>

        <!-- User info -->
        <h4 class="pb-2 pt-4">User Info</h4>
        <div class="row mb-2 align-items-left"> 
            <p class="col-2">User name: </p>
            <div class="col-1"></div>
            <p class="col-2">{{user.user_name}}</p>
        </div>
        <div class="row mb-2 align-items-left"> 
            <p class="col-2">Email: </p>
            <div class="col-1"></div>
            <p class="col-2">{{user.email}}</p>
        </div>
        <div class="row mb-2 align-items-left"> 
            <p class="col-2">Balance: </p>
            <div class="col-1"></div>
            <p class="col-2">{{user.balance}}</p>
        </div>
        <!-- <div class="row no-gutters mb-2 align-items-left"> 
            <p class="col-2">Win-loss record: </p>
            <div class="col-1"></div>
            <p class="col-2">{{user.wins}}/{{user.losses}}</p>
        </div> -->
        
    </div>
</body>
</html>